[submodule "Nanotec"]
	path = Nanotec
	url = https://github.com/Kh4l3tH/Nanotec.git
[submodule "Schrittmotor"]
	path = Schrittmotor
	url = https://github.com/Kh4l3tH/Schrittmotor.git
[submodule "Interpreter"]
	path = Interpreter
	url = https://github.com/Kh4l3tH/Interpreter.git
